* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 90vh;
  background-image: url(https://i.ebayimg.com/images/g/V9EAAOSw3KViXqBc/s-l1200.webp);
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-position: center;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 60px;
  background-color: #377378;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  -webkit-box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 5px 7px -1px rgba(0, 0, 0, 0.32);
}

.logo {
  font-size: 2em;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.logo:hover {
  color: #ff9770;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

ion-icon {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

ion-icon:hover {
  color: #ff9770;
}

main {
  display: flex;
  margin: 120px 80px 80px 80px;
  gap: 60px;
}

.left {
  width: 350px;
  min-height: 80vh;
  background: transparent;
  border: 2px solid white;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  flex-grow: 1;
}

nav {
  padding-block: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

nav div {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
}

#none {
  font-size: 1em;
  font-weight: unset;
}

nav input {
  width: 60%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

input:focus {
  background-color: #ffccdf;
}

nav button {
  width: fit-content;
}

button {
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

button:active {
  background-color: #ff9770;
  color: white;
}

.right {
  width: 100%;
  background: transparent;
  border: 2px solid white;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 30px;
}

.right div {
  width: auto;
  height: auto;
  font-weight: bold;
  color: red;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: larger;
}

.right ul {
  color: white;
  font-size: 1.3em;
  cursor: pointer;
  list-style-type: square;
}

ul li:hover {
  color: #377378;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #377378;
  bottom: 0;
  left: 0;
  position: fixed;
  -webkit-box-shadow: 0px -5px 7px -1px rgba(0, 0, 0, 0.32);
  box-shadow: 0px -5px 7px -1px rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  align-items: center;
}

.copyright {
  cursor: pointer;
}

.copyright a {
  text-decoration: none;
  color: white;
}

.copyright,
li {
  color: white;
}

.options {
  display: flex;
  gap: 20px;
  cursor: pointer;
  list-style: none;
  padding: 0;
  margin: 0;
}

.options li:hover {
  color: #ff9770;
  text-decoration: underline;
}

.shadow {
  -webkit-box-shadow: 5px 5px 7px -1px rgba(0, 0, 0, 0.32);
  box-shadow: 5px 5px 7px -1px rgba(0, 0, 0, 0.32);
}
